<div class="animated fadeInDown">
  <div *ngFor="let article of articles;let i = index">
    <p>
      <button type="button" class="btn btn-outline-primary" (click)="is_collapsed_arr[i] = !is_collapsed_arr[i]"
              [attr.aria-expanded]="!is_collapsed_arr[i]" aria-controls="collapse">
        【{{article.title}}】&nbsp;&nbsp;发布日期:&nbsp;{{article.time}}
      </button>
      <!-- <a href="javascript:void(0);" (click)="is_collapsed_arr[i] = !is_collapsed_arr[i]" [attr.aria-expanded]="!is_collapsed_arr[i]" aria-controls="collapse">{{article.title}}</a> -->
    </p>
    <div id="collapse{{i}}" [ngbCollapse]="is_collapsed_arr[i]" class="col-xs-12" style="margin-bottom: 5px;">
      <div class="card">
        <div class="card-block" [innerHTML]="article.content">
          
        </div>
      </div>
    </div>
  </div>
</div>